<!doctype html>
<html lang="enen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise</title>
    <script src="../../vue/vue.js"></script>
</head>
<body>
<div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
        <button @click="seeMe = !seeMe">Toggle</button>
        <p v-if="seeMe">You either see me ...</p>
        <p v-else>...or me</p>
        <p v-show="seeMe">You either see me ...</p>
        <p v-show="!seeMe">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
        <li v-for="(name, index) in array">({{ index }}) {{ name }}</li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
        <li v-for="(value, key, index) in myObject">
            {{ key }}: {{ value }} Index:({{ index }})
        </li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
        <li v-for="value in testData">
            <template v-if="!isArray(value)">
                {{ value }}
            </template>
            <template v-else>
                <div v-for="arrayElement in value">{{ arrayElement }}</div>
            </template>
        </li>
    </ul>
</div>
<script src="../../js/app.js"></script>
<script>
    new Vue({
        el: '#exercise',
        data: {
            seeMe: true,
            array: ['Max', 'Anna', 'Chris', 'Manu'],
            myObject: {
                title: 'Lord of the Rings',
                author: 'J.R.R. Tolkiens',
                books: '3'
            },
            testData: {
                name: 'TESTOBJECT',
                id: 10,
                data: [1.67, 1.33, 0.98, 2.21]
            }
        },

        methods: {
            isArray (value) {
                return Array.isArray(value);
            }
        }
    });
</script>
</body>
</html>
